
.resultLoaded {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*background-color: #111;*/
    background: url("../img/result/black.jpg");
    background-size: cover;
    display: none;
}

.resultImgCon {

}

.resultBtn {
    position: absolute;
    top: 81%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    white-space: nowrap;
}

.resultRestart, .resultShare {
    display: inline-block;
    width: 9.4rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 0.6rem;
    text-align: center;
    font-size: 1.3rem;
    background-color: #FFBB00;
    color: white;
    margin: 0 0.5rem;
    box-shadow: inset 1px -1px 9px rgba(255, 255, 255, 0.2);
}

.resultMore {
    position: fixed;
    bottom: 1rem;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10%;
    background-color: transparent;
}

.resultProducts {
    float: left;
    /*height: 3.5rem;*/
}

.resultProducts img {
    display: inline-block;
    width:  15%;
    height: 15%;
    margin: 0 0.6rem;
    border-radius: 50%;
    border: 1px solid #cccccc;
}

.resultArrow {
    position: absolute;
    right: 23%;
    top: 28%;
    width: 8%;
}
.resultMascot {
    position: absolute;
    right: 4%;
    bottom: 3%;
    width: 15%;
    height: 120%;
    /*border: 1px solid #fff;*/
    background-image: url("../img/result/mascot2.png") ;
    background-repeat: no-repeat;
    background-size: contain;
}